*{ font-family: "Open Sans", sans-serif; margin: 0; box-sizing: border-box;}
/* nav bar starts */
nav{
    
    display: flex;
    background-color: #FFFFFF;
    justify-content:space-around;
    padding: 20px 60px;
    align-items: center;
    text-wrap: wrap;
}
.container{
    max-width: 1280px;
    margin: auto;
}


.nav-list{
    display: flex;
    list-style: none;
    /* justify-content: space-around; */

    
}
.nav-list a{
    text-decoration: none;
    color: #575757;
}
.nav-list li{ 
    padding-left: 25px;
    padding-right: 25px;

}
nav .nav-button button{
    background-color:#1d4ed8;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}
main{ 
    margin:0;
}
.hero-section{
    /* background-image: url('banner.jpg'); */
     background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('./banner.jpg') ;
    /* padding: ; */
    color: #FFFFFF;
    text-align: center;
    background-size: cover;
    
    
}
.hero-section h1{
    padding-top: 136px;
    font-size: 80px;

}
.hero-section p{
    font-size: 22px;
    /* text-align: ; */
    margin-left: 350px;
    margin-right: 350px;
    padding-top: 30px;
    font-weight: 400;
}
.hero-section button{
    background-color:#1d4ed8;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-size: larger;
    margin-top: 200px;
    margin-bottom: 50px;

}
/* gallery ends */
.gallery h2{
    text-align: center;
    padding: 50px;
    font-size: 56px;
}

.gallery .devs{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    
    gap: 130px;
    margin:20px;
    place-items: center;
    

}

.img1{
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}

.img2{
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}
.img3{
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}
.img4{
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}
.text-info{
    margin: 30px;
}



/* .img1 img{
    height: 100%;
    width: 600px;
    object-fit: cover;

}
.img2 img{
    height: 100%;
    width: 600px;
    object-fit: cover;

} */
/* .gallery .devs .img1 .img2 .img3 .img4 {} */

.img1 .name{
    font-size: 20px;
    text-align: left;
    font-weight: 700;
}
.img2 .name{
     font-size: 20px;
    text-align: left;
    font-weight: 700;

}
.img3 .name{
     font-size: 20px;
    text-align: left;
    font-weight: 700;

}
.img4 .name{
     font-size: 20px;
    text-align: left;
    font-weight: 700;

}

.img1 .title{
    color: #2563eb;
    font-weight: 400;
}
.img2 .title{
    color: #2563eb;
    font-weight: 400;
}
.img3 .title{
    color: #2563eb;
    font-weight: 400;
}
.img4 .title{
    color: #2563eb;
    font-weight: 400;
}
/* gallery ends */
/* pricing card starts here */
.cards{
    margin-top: 200px;
}
.price-card{
    display: flex;
    justify-content: space-around;
    /* padding: 48px 60px 80px 60px; */
    margin: 96px 60px 80px 20px;
    gap: 20px;
}
.price-card-title{
    text-align: center;
    margin-bottom: 12px;
}
.price-title p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}
.price-title h2{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}
.price-card .card1{
    border: 1px solid #575757;
    border-radius: 12px;
    text-align: start;
    padding: 32px;
}
.price-card .card2{
    border: 1px solid black;
    background-color: #0D1B2A;
    color: #FFFFFF;
    border-radius: 12px;
    text-align: start;
    padding:32px;
}
.price-card .card3{
    border: 1px solid #575757;
    background-color: #E5E7EB;
    border-radius: 12px;
    text-align: start;
    padding:32px;
}

.card1-button{
     background-color:white;
    color:#1d4ed8;
    border-radius: 10px;
    padding: 10px 150px;
    border-color: #1d4ed8;
    text-align:center;
    font-size: 14px;
    font-weight: 600;

}
.card2-button{
    background-color:#1d4ed8;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 150px;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.card3-button{
    background-color:white;
    color:#1d4ed8;
    border-radius: 10px;
    padding: 10px 150px;
    border-color: #1d4ed8;
    font-size: 14px;
    font-weight: 600;
}
.price-card-button{
    text-align: center;
}
.card2 hr{
     width: auto;
  margin: auto;
  border: none;
  height: 0.08px;
  background: #e5e7eb;
}
.card1 hr{
     width: auto;
  margin: auto;
  border: none;
  height: 0.08px;
  background: #e5e7eb;
}
.card3 hr{
     width: auto;
  margin: auto;
  height: 0.08px;
  background: #e5e7eb;
}
.card1 p{
    font-size: 13px;
    color: #888888;
    padding-bottom: 30px;
}
.card1 .key{
    font-weight: 600;
}
.card1 h2{
    font-size: 44px;
    font-weight: 700;
}
li::marker{
    color: #2563eb;
}
.card1 ul{
    /* display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: left; */
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
.card2 ul{
    /* display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: left; */
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
.card3 ul{
    /* display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: left; */
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
.card2 h2{
    font-size: 44px;
    font-weight: 700;
}    
.card2 .key{
    font-weight: 600;
    color: #93C5FD;
}
.card3 h2{
    font-size: 44px;
    font-weight: 700;
}
.card3 .key{
    font-weight: 600;
}
.card2 p{
    font-size: 13px;
    color: #888888;
    padding-bottom: 30px;
}
.card3 p{
    font-size: 13px;
    color: #888888;
    padding-bottom: 30px;
}
/* pricing card ends here */
/* missing section challenge starts */
.sponsor{ 
    display: flex;
    flex-direction: column ;
    text-align: center;
    background-color: #0d1b2a;
    border-radius: 10px;
    margin-bottom: 70px;
    margin-top: 70px;
    padding-bottom: 40px;
    padding-top: 40px;
}
/* .sponsor h3{
    color: #1d4ed8;
    font-size: 40px; */

.plat-img .plat{
    font-size: 50px;
  font-weight: bold;

  background-image: url('./plat.jpg');
  background-size: cover;
  background-position: center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gold-img .gold{
   font-size: 50px;
  font-weight: bold;

  background-image: url('./gold.jpg');
  background-size: cover;
  background-position: center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.silver-img .silver{
    font-size: 50px;
    
  font-weight: bold;

  background-image: url('./sil.jpg');
  background-size: cover;
  background-position: center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sponsor h2{
    font-size: 70px;
}
.sponsor .text{
    color: #FFFFFF;
}

.spon-but{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}
.later-part-spon p{
    padding-top: 30px;
    color: #e5e7eb;
}
.later-part-spon .spon-but .sponsor-button{
    background-color:#1d4ed8;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 150px;
    border: none;
    font-size: 14px;
    font-weight: 600;

}
/* missing section ends */
/* footer starts */

.foot{
    
    
    background-color: #0d1b2a;
}
.footer{
    

    display: flex; 
    justify-content:space-between;
    align-items: center;
}
.footer .footer-logo{
    padding-top: 50px;
    padding-bottom:30px ;
}
.socials{
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
}
.socials .facebook{
    filter: brightness(0) invert(1);

}
.socials .insta{
    filter: brightness(0) invert(1);
}
.socials .linked{
    filter: brightness(0) invert(1);
}
.foot .bar{
       width: auto;
  margin: auto;
  border: none;
  height: 0.08px;
  background: #888888;
}
.copyright{
    display: flex;
    justify-content: space-between;
    
}
.copyright .rights p{
    color: #FFFFFF;
    font-size: 16;
    font-weight: 400;

}
.copyright .policy{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.copyright .policy p{
    color:#FFFFFF ;
}
/* footer ends */