*{ font-family: "Open Sans", sans-serif; margin: 0; box-sizing: border-box;}
/* nav bar starts */
nav{
    
    display: flex;
    background-color: #FFFFFF;
    justify-content:space-around;
    padding: 20px 60px;
    align-items: center;
    text-wrap: wrap;
}
.container{
    max-width: 1280px;
    margin: auto;
}


.nav-list{
    display: flex;
    list-style: none;
    /* justify-content: space-around; */

    
}
.nav-list a{
    text-decoration: none;
    color: #575757;
}
.nav-list li{ 
    padding-left: 25px;
    padding-right: 25px;

}
nav .nav-button button{
    background-color:#1d4ed8;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}
main{ 
    margin:0;
}
.hero-section{
    /* background-image: url('banner.jpg'); */
     background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('banner.jpg') ;
    /* padding: ; */
    color: #FFFFFF;
    text-align: center;
    background-size: cover;
    
    
}
.hero-section h1{
    padding-top: 136px;
    font-size: 80px;

}
.hero-section p{
    font-size: 22px;
    /* text-align: ; */
    margin-left: 350px;
    margin-right: 350px;
    padding-top: 30px;
    font-weight: 400;
}
.hero-section button{
    background-color:#1d4ed8;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-size: larger;
    margin-top: 200px;
    margin-bottom: 50px;

}
/* gallery ends */
.gallery h2{
    text-align: center;
    padding: 50px;
    font-size: 56px;
}

.gallery .devs{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    
    gap: 130px;
    margin:20px;
    place-items: center;
    

}

.img1{
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}

.img2{
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}
.img3{
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}
.img4{
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}
.text-info{
    margin: 30px;
}



/* .img1 img{
    height: 100%;
    width: 600px;
    object-fit: cover;

}
.img2 img{
    height: 100%;
    width: 600px;
    object-fit: cover;

} */
/* .gallery .devs .img1 .img2 .img3 .img4 {} */

.img1 .name{
    font-size: 20px;
    text-align: left;
    font-weight: 700;
}
.img2 .name{
     font-size: 20px;
    text-align: left;
    font-weight: 700;

}
.img3 .name{
     font-size: 20px;
    text-align: left;
    font-weight: 700;

}
.img4 .name{
     font-size: 20px;
    text-align: left;
    font-weight: 700;

}

.img1 .title{
    color: #2563eb;
    font-weight: 400;
}
.img2 .title{
    color: #2563eb;
    font-weight: 400;
}
.img3 .title{
    color: #2563eb;
    font-weight: 400;
}
.img4 .title{
    color: #2563eb;
    font-weight: 400;
}
/* gallery ends */
.cards{
    margin-top: 200px;
}
.price-card{
    display: flex;
    justify-content: space-around;
    /* padding: 48px 60px 80px 60px; */
    margin: 96px 60px 80px 60px;
}
.price-card-title{
    text-align: center;
    margin-bottom: 12px;
}
.price-title p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}
.price-title h2{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}
.price-card .card1{
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    padding: 32px;
}
.price-card .card2{
    border: 1px solid black;
    background-color: #0D1B2A;
    color: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    padding:32px;
}
.price-card .card3{
    border: 1px solid black;
    background-color: #E5E7EB;
    border-radius: 12px;
    text-align: center;
    padding:32px;
}